/10. Código/SFDAPA/.vs
/10. Código/SFDAPA/Model/bin
/10. Código/SFDAPA/Model/obj
/10. Código/SFDAPA/Negocio/bin
/10. Código/SFDAPA/Negocio/obj
/10. Código/SFDAPA/Persistencia/bin
/10. Código/SFDAPA/Persistencia/obj
/10. Código/SFDAPA/SFDAPA/bin
/10. Código/SFDAPA/SFDAPA/obj
/10. Código/SFDAPA/SFDAPA.Testes/bin
/10. Código/SFDAPA/SFDAPA.Testes/obj
