@{
    ViewBag.Title = "Professor";
}

<h2>Professor</h2>

<form>
    <div class="btn-toolbar " role="toolbar" >
        <a href="/Turma/Create"/><button type="button" class="btn btn-primary"> Nova Turma </button>
    </div>

    <div class="btn-toolbar btn-block" role="toolbar">
        <a href="/Turma/Listar" /><button type="button" class="btn btn-primary"> Listar Turmas </button>
    </div>
</form>
